<h1 class="header" >Lista dzieci</h1>
<table>
    <thead>
    <tr>
        <th>Imię</th>
        <th>Lista prezentów</th>
        <th>Wybierz prezent</th>
    </tr>
    </thead>
    <tbody>
    {{#each children}}
        <tr>
            <td>
                {{this.[0].firstName}}
            </td>
            <td>
                {{log this.[0].name}}
                {{#if this.[0].name}}
                    {{#each this}}
                        {{this.name}}
                    {{/each}}
                {{else}}
                    Brak
                {{/if}}

            </td>
            <form action="/children/{{this.id}}/gifts" method="post">
            <td class="center" >

                <select name="item" id="gifts">
                    <option value="" selected disabled hidden>Wybierz prezent</option>
                    {{#each @root.gifts}}
                        <option value={{this.name}}>{{this.name }}({{this.amount}}sz)</option>
                    {{/each}}
                </select>
            </td>
                <td class="center" >
                    <button class="add-btn" type="submit">+</button>
                </td>
            </form>
        </tr>
    {{/each}}
    </tbody>
</table>
<table>
    <thead>
    <tr>
        <th>
            Nowe Dziecko
        </th>
    </tr>
    </thead>
    <tbody>
    <form action="/children" method="post">
    <tr>
        <td class="center" >
                <input name="newChild" type="text">
        </td>
        <td class="center">
            <button class="add-btn" type="submit">+</button>
        </td>
    </tr>
    </form>
    </tbody>

</table>
