<table>
    <thead>
    <tr>
        <th>Imię</th>
        <th>Lista prezentów</th>
        <th>Wybierz prezent</th>
    </tr>
    </thead>
    <tbody>
    {{#each children}}
        <tr>
            <td>
                {{this.firstName}}
            </td>
            <td>
                {{#if this.gifts}}
                    {{this.gifts}}
                {{else}}
                    Brak
                {{/if}}

            </td>
            <td>
                <form action="/children/{{this.firstName}}" method="post">
                <select name="item" id="gifts">
                    <option value="" selected disabled hidden>Wybierz prezent</option>
                    {{#each @root.gifts}}
                        <option value={{this.name}}>{{this.name }}({{this.amount}}sz)</option>
                    {{/each}}
                </select>
                <button type="submit">Dodaj</button>
                </form>
            </td>
<!--            <td>-->
<!--                <a href="/client/{{this.id}}">Szczegóły</a>-->
<!--                <form action="/client/{{this.id}}?_method=DELETE" method="POST" ><button class="delete" type="submit" >Usuń</button></form>-->
<!--            </td>-->
        </tr>
    {{/each}}
    </tbody>
</table>