<h1 class="header" >Lista dzieci</h1>
<table>
    <thead>
    <tr>
        <th>Imię</th>
        <th>Lista prezentów</th>
        <th>Wybierz prezent</th>
    </tr>
    </thead>
    <tbody>
    {{#each children}}
        <tr>
            <td>
                {{this.name}}
            </td>
            <td>
                {{#if this.gifts.[0]}}
                    {{#each this.gifts}}
                        {{this}},
                    {{/each}}
                {{else}}
                    Brak
                {{/if}}

            </td>
            <form action="/children/{{this.id}}/gifts" method="post">
            <td class="center" >

                <select name="giftId" id="gifts">
                    <option value="" selected hidden>Wybierz prezent</option>
                    {{#each @root.gifts}}
                        <option {{#if (isZero this.count) }}  disabled   {{/if}} value={{this.id}}>{{this.name }}({{this.count}}sz)</option>
                    {{/each}}
                </select>
            </td>
                <td class="center" >
                    <button class="add-btn" type="submit">+</button>
                </td>
            </form>
        </tr>
    {{/each}}
    </tbody>
</table>
<table>
    <thead>
    <tr>
        <th>
            Nowe Dziecko
        </th>
    </tr>
    </thead>
    <tbody>
    <form action="/children" method="post">
    <tr>
        <td class="center" >
                <input name="name" type="text">
        </td>
        <td class="center">
            <button class="add-btn" type="submit">+</button>
        </td>
    </tr>
    </form>
    </tbody>

</table>
